<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11">
<html>
<head>
	<title><?php echo $tpl->Get('whitelabel','AdminTitle'); ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=<?php echo $tpl->Get('config','charset'); ?>" />
	<meta name="robots" content="noindex, nofollow" />

<style type="text/css">
	@import url("styles/styles.css");
	@import url("styles/tabmenu.css");
</style>

<!--[if IE]>
<style type="text/css">
	@import url("styles/ie.css");
</style>
<![endif]-->
<script language="javascript" src="../javascript/jquery.js"></script>
<script language="javascript" src="<?php echo $tpl->Get('config','siteURL'); ?>/js.php?f=admin&a=1"></script>
</head>

<body>