<head class='tplblock-htmlhead tplblockstyle-htmlhead-standard'>
<?php echo $tpl->Get('headTagBegin'); ?>
<title><?php echo $tpl->Get('websiteTitle'); ?></title><meta http-equiv='Content-Type' content='text/html; charset=utf-8' /><meta name='description' content='<?php echo $tpl->Get('metaDescription'); ?>' /><meta name='keywords' content='<?php echo $tpl->Get('metaKeywords'); ?>' /><link href='styles/styles.css' type='text/css' rel='stylesheet' /><link href='styles/<?php echo $tpl->Get('config','SiteColor'); ?>.css' type='text/css' rel='stylesheet' class='tplvar-site-color-href' /><!--[if IE]>
<link rel="stylesheet" type="text/css" href="styles/ie.css" />
<![endif]-->
<?php echo $tpl->Get('headTagEnd'); ?>
</head>